<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script>

		const spacePhoto = document.getElementById('spacePhoto');			

			$("form").submit(function(e) {
				e.preventDefault();

				var dataString = $(this).serialize();

				console.log(dataString);

				$.ajax ({
					type: "POST",
					url: "/dateSubmit",
					data: dataString
				}).done(response => {
					console.log(response);
					spacePhoto.src = response.url;
				})
			})
		</script>
	</head>
	<body>
		<div id="photoDisplay">
			<p>Search for a photo on a specific day! Please use the format 'yyyy-mm-dd'</p>
			<p>NASA's Photo Of The Day started on June 16th, 1995, so please pick a date on or afterwards.</p>
			<div id="search-container">
				<form name="search" action="">
					<label for="searchdate" id="search_label">Search Date: </label>
					<input type="text" name="searchdate" id="searchdate">
					<div id="buttons">
						<button type="submit" id='search'>Get My Photo</button>
					</div>
				</form>
			</div>
			<div id="card-face">
					<img src="../../image-placeholder.png" id="spacePhoto" alt="space photo"> 
			</div>
			<div id="output">
			</div>
		</div>
	</body>
	<script>
		// const searchButton = document.getElementById('search');
		// const outputDiv = document.getElementById('output');
		// const spacePhoto = document.getElementById('spacePhoto');

		// function wait(callback){ setTimeout(callback, 2000);}

		// 	function clearOutput() {
		// 		outputDiv.innerHTML = "";
		// 	}

		// 	//This is the button that loads the picture. By putting all our set up in here, we also ensure that the date can be randomized and the API called multiple times without refreshing the page, making the program truly dynamic.
		// 	searchButton.addEventListener('click', () => {

		// 		var date = document.getElementById("searchbar").value;

		// 		var datecheck1 = Date.parse(date);
		// 		var datecheck2 = Date.parse('1995-06-16')

		// 		//Preparing the API request, using our api key and our random date. It took me a little while to figure out API keys.
		// 		const spaceURL = 'https://api.nasa.gov/planetary/apod?api_key=Aj3aZZ1ZX9H5YfwheMgVWGyYVwghvILvpOU9MGvt&date=' + date;

		// 		//Setting our output clear on a timer.
		// 		wait(clearOutput);

		// 		//Getting the data from NASA's API
		// 		if(datecheck1 >= datecheck2) {
		// 			fetch(spaceURL) 
		// 			.then( response => { outputDiv.innerHTML = "Photo loading..."; 
		// 				if(response.ok) { return response; } 
		// 				throw Error(response.statusText); }) 
		// 			.then( response => response.json() ) 
		// 			.then( data => spacePhoto.src = data.url ) 
		// 			.catch( error => console.log('There was an error:', error)) }
		// 		}, false);
	</script>
</html>