<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body>
		<div id="photoDisplay">
			<h1>Photo of The Day</h1>
			<div id="website-buttons">
				<button id="nasa">NASA</button>
				<button id="bing">Bing</button>
			</div>
			<p id="date-format">Search for a photo on a specific day! Please use the format 'yyyy-mm-dd'</p>
			<p id="beginning-date">NASA's Photo Of The Day started on June 16th, 1995, so please pick a date on or afterwards.</p>
			<div id="search-container">
				<form name="search" id="search" action="">
					<label for="searchdate" id="search_label">Search Date: </label>
					<input type="text" name="searchdate" id="searchdate">
					<div id="buttons">
						<button type="submit" id='search'>Get My Photo</button>
					</div>
				</form>
			</div>
			<div id="card" class="unflipped">
				<div class="card-side" id="card-face">
						<img src="../../image-placeholder.png" id="apiPhoto" alt="api photo"> 
				</div>
				<div class="card-side" id="card-back">
					<p id="title">Title: </p>
					<p id="description">Description: </p>
					<p id="hdurl">HD URL: </p>
					<p id="url">URL: </p>
				</div>
			</div>
			<div id="output">
			</div>
		</div>
	</body>
	<script>

		let potdUrl = "/nasaDateSubmit";

		const apiPhoto = document.getElementById('apiPhoto');
		const cardDiv = document.getElementById('card');
		const title = document.getElementById('title');
		const description = document.getElementById('description');
		const hdurl = document.getElementById('hdurl');
		const url = document.getElementById('url');

			$("#nasa").click(function() {
				$("#date-format").html("Search for a photo on a specific day! Please use the format 'yyyy-mm-dd'")
				$("#beginning-date").html("NASA's Photo Of The Day started on June 16th, 1995, so please pick a date on or afterwards.")
				potdUrl = "/nasaDateSubmit"
			});

			$("#bing").click(function() {
				$("#date-format").html("Search for a photo on a specific day! Please pick a number from 0 to 7.")
				$("#beginning-date").html("Bing keeps a week's worth of photos, so come back tomorrow for a new one!.")
				potdUrl = "/bingDateSubmit"
			});

			$("#search").submit(function(e) {
				e.preventDefault();

				let searchdate = $('#searchdate').val();

				$.ajax ({
					type: "POST",
					url: potdUrl,
					data: { 'searchdate': searchdate }
				}).done(response => {
					console.log(response);
					apiPhoto.src = response.url;
					title.innerHTML = "Title: " + response.title;
					description.innerHTML = "Description: " + response.description;
					hdurl.innerHTML = "HD URL: " + response.hdurl;
					url.innerHTML = "URL: " + response.url;
				});
			});

			cardDiv.addEventListener('click', () => {
				cardDiv.classList.toggle("flipped");
				cardDiv.classList.toggle("unflipped");
			})
		</script>
</html>